<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<div class="conatiner">
    <div class="row">
        <div class="col">
            <h1>Form Submission</h1>
            <hr>
            <form method="POST" action="/">
                <div class="form-group">
                    <label>Name</label><br>
                    <input type="text" name="Name"><br>
                </div>
                <div class="form-group">
                    <label>Do you shop less frequently than every four days?</label><br>
                    <input type="radio" name="Question1" value="yes"> Yes <br>
                    <input type="radio" name="Question1" value="no"> No <br>
                </div>
                <div class="form-group">
                    <label>Do you eat more packaged (frozen or canned) fruits and vegetables than fresh?</label><br>
                    <input type="radio" name="Question2" value="yes"> Yes <br>
                    <input type="radio" name="Question2" value="no"> No <br>
                </div>
                <div class="form-group">
                    <label>Do you eat vegetables with less than two meals daily?</label><br>
                    <input type="radio" name="Question3" value="yes"> Yes <br>
                    <input type="radio" name="Question3" value="no"> No <br>
                </div>
                <input type="submit">
            </form>
        </div>
    </div>
</div>
<body>

</body>
</html>